// General
:root {
  --main-background-color: hsl(0, 0%, 5%);
  --main-text-color: hsl(0, 0%, 100%);
  --main-header-color: hsl(0, 0%, 7%);
}

// Breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;
