// General
:root {
  --main-background-color: hsl(0, 0%, 5%);
  --main-text-color: hsl(0, 0%, 100%);
  --main-header-color: hsl(0, 0%, 7%);
  --main-title-color: hsl(49.18deg 100% 50%);

   /*header */
   --search-icon-color: rgb(255, 255, 255);
   --search-icon-bg-color: hsl(0deg 0% 16.74% / 93.2%)

  /*movie-card */
  --card-details-background-color: hsl(0deg 0% 16.74% / 93.2%);
}

// Breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;
